

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}

.header {
	font-family: 'Abril Fatface', cursive;
	font-size: 72px;
	text-align: center;
	margin: 0px;
}

.container {
	display: flex;
	margin-top: 0px;
	padding: 0px;

}

.item1, .item2 {
	margin: 100px auto;
}

.item3, .item4 {
	margin: 10px auto;
}

input[type="text"] , input[type='password'] {
	width: 300px;
	height: 30px;
	margin-bottom: 15px;
	border-radius:6px;
	background:beige;
	outline: none;
	border: 0px;


}

.submit {
	height: 30px;
	width: 302px;
	background:#daa86a;
	border-radius:6px;
	color: white;

}

.submit:hover {
	background:#f1bd7d;
}

.warning {
	color: red;
	font-size: 12px;
}

.profilpic {
	height: 350px;
}

.logout {
	margin: 0;
	padding-right: 20px;
	padding-bottom: 0;
	text-align: right;
	
}



 .uploadbutton{
	widht:20px;
	border-radius:6px;
	background:white;
	color: black;
}
.uploadbutton:hover {
	background:#f1bd7d;
}

.imagebutton{
	widht:20px;
	border-radius:6px;
	background:white;
	color:black;
	
}

h2 {
	padding-top: 130px;
}



